$yellow: #febe10;
$orange: #faa21b;


$light: #efecea;
$medium: #ac9f9a;

$gutter: 100px;

@mixin xxlText {
	font-size: 150px;
	line-height: 1.1em;
}

@mixin xlText {
	font-size: 60px;
	line-height: 1.2em;
}

@mixin lgText {
	font-size: 32px;
	line-height: 1.42em;
}

@mixin mdText {
	font-size: 27px;
	line-height: 37px;
}

@mixin smText {
	font-size: 16px;
	line-height: 24px;
	@include md {
		font-size: 12px;
		line-height: 18px;
	}
}

@mixin xsText {
	font-size: 12px;
	line-height: 18px;
}

@mixin xl {
	@media (max-width: 1290px) {
		@content;
	}
}

@mixin lg {
	@media (max-width: 1024px) {
		@content;
	}
}

@mixin md {
	@media (max-width: 667px) {
		@content;
	}
}

@mixin sm {
	@media (max-width: 575px) {
		@content;
	}
}

@mixin hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

@mixin show {
	position: unset !important;
	top: unset !important;
	left: unset !important;
}

@font-face {
	font-family: 'Algebra';
	src: url('./fonts/Algebra-Regular.woff2') format('woff2'),
		url('./fonts/Algebra-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Algebra';
	src: url('./fonts/Algebra-Bold.woff2') format('woff2'),
		url('./fonts/Algebra-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat';
	src: url('./fonts/Akkurat.woff2') format('woff2'),
		url('./fonts/Akkurat.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat';
	src: url('./fonts/Akkurat-Bold.woff2') format('woff2'),
		url('./fonts/Akkurat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Candid';
	src: url('./fonts/Candid.woff2') format('woff2'),
		url('./fonts/Candid.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

